body{
    margin: 0;
    font-family: sans-serif;
}
#maindiv{
    margin-top: 2%;
    width: 50%;
    border-right: 1px solid black;
}
#title{
    display: block;
    background-color: #000;
    color: white;
    font-size: 40px;
}
header{
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    color: #FFF;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
}
#outerdiv{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#other{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.element{
    margin: 8px
}
.comment{
    border: 1px solid black;
    width: 70%;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
#navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    margin-right: 20px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}